name: Continuous Deployment

on: [push, pull_request]

jobs:
  archive:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
      - run: npm ci
      - run: npm build
      - name: Archive build artifacts
        uses: actions/upload-artifact@v1
        with:
          name: build
          path: build
